@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,900&display=swap');

/*General Styles*/
body {
  font-family: "Montserrat", serif;
}
ul {
  list-style-type: none;
}



/**********************************************************************************************************************/
/*About page*/

/*Header section*/
.about-header-info-title {
  font-size: calc(8px + 2.6vw);
}
.about-header-info-subtitle {
  font-size: calc(16px + 1vw);
  color: #030110;
  font-weight: 900;
}
.header-info-desc1 {
  font-size: calc(8px + 0.8vw);
  color: #c8d0d6;
}
.header-info-desc2-left-title, .header-info-desc2-right-title  {
  font-size: calc(8px + 1.3vw);
  color: #FFFFFF;
}
.header-info-desc2-left-desc, .header-info-desc2-right-desc {
  color: #c8d0d6;
  font-size: calc(8px + 0.8vw);
}

.about-slogan-text {
  color: #030110;
  font-weight: 900;
  font-size: calc(8px + 1.4vw);
}


.work-flow-items {
  border: 1px solid #7070704D;
}
.work-flow-item-text {
  font-size: calc(10px + 0.5vw);
  color: #777c80;
}

/*****************************************************/
/*F&Q*/
.F_Q-titles .section-title1, .work-flow-titles .section-title1{
  color: #1E1A33;
}
.F_Q-info-subtitle, .work-flow-info-subtitle {
  color: #4ea4fa;
  font-size: calc(6px + 0.7vw);
}
.F_Q-questions-desc, .work-flow-desc {
  color: #363636;
  font-size: calc(10px + 0.5vw);
}
.question-container {
  border-bottom: 2px solid #c4c4c4;
}
.question {
  color: #030110;
  cursor: pointer;
  font-size: calc(10px + 0.5vw);
}
.answer {
  color: #585858;
  font-size: calc(8px + 0.5vw);
  /* transition: display 2s !important;
  -webkit-transition: display 2s !important;
  -moz-transition: display 2s !important;
  -ms-transition: display 2s !important;
  -o-transition: display 2s !important; */
}

.question-icon {
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
}
.question-container.show .question {
  color: #1e77cf;
}
.question-container.show .question-icon {
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
}
.question-container.show .answer {
  display: block;
}
.question-container.hide .question {
  color: #030110;
}
.question-container.hide .question-icon {
  transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -o-transform:rotate(0deg);
}
.question-container.hide .answer {
  display: none;
}
/**********************************************************************************************************************/
/*Media Queries*/

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
  
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .uniqe-image {
    top: 450px;
  }
  .about-header-info-title {
    text-align: left !important;
  }
}
/*****************************************************************************************/