.registration-page {
    background: linear-gradient(0deg, rgba(111,195,247,1) 0%, rgba(24,19,162,1) 52%, rgba(2,0,36,1) 100%);
}

.form-style {
    background-color: rgba(255, 255, 255, 0.2);
    filter: drop-shadow(black);
}

.form-style h2 {
    position: relative;
}

.form-style h2::before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #06043d;
    transform: translate(-50%, 0);
    border: 50px;
    transition: all 0.6s ease-in-out;
}

.form-style:hover h2::before{
    width : 30%;
}

.form-style input ,.form-style textarea{
    background-color: rgb(17,1,2,0.2) !important;
    color:  rgb(185, 185, 185);
}

.form-style input::placeholder,
.form-style textarea::placeholder {
    color: rgb(185, 185, 185);
}

.form-style input:focus ,
.form-style textarea:focus{
    box-shadow: 0 0 5px 0.2rem rgb(120 119 158 / 38%);
    color: #06043d !important;
}

.form-style label {
    margin-left: 15px;
}